{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="centered">Bienvenue {{ user }} !</h1>
    <div class="section centered">
        <div class="centered item bg-blue">
            <h3><a href="{{ path('app_dresseur', {'id': user}) }}">Gérer mes pokémons</a></h3>
            <br>
            <h3>Gérer mon compte</h3>
            <br>
            <h3><a href="{{ path('pokemon_create') }}">Capturer des pokémons</a></h3>
            <br>
            <h3>Faire un échange de pokémon</h3>
        </div>
        <div class="centered item bg-green">
            <h2>Deal du jour</h2>
            {% if not 1 %}
                <div class="container">
                    <div>
                        <h3>Pokémon échangé</h3>
                        <h3>Dresseur propriétaire</h3>
                    </div>
                    <div>
                        <h3>Pokémon recherché</h3>
                        <h3>J'échange !</h3>
                    </div>
                </div>
            {% else %}
                <h2>Pas de pokémon à échanger
                    <br>
                    <br>
                    Aujourd'hui
                    <br>
                    <br>
                    :(
                </h2>
            {% endif %}
        </div>
        <div class="centered item bg-red">
            <h2>Top des meilleurs dresseurs :</h2>
            <h3>(Classement par nombre de pokémons capturés)</h3>
            {% for dresseur in dresseurs %}
                <a class="med" href={{ path('app_dresseur', {name: dresseur.name}) }}> {{ dresseur.name }}</a>
            {% endfor %}
        </div>
    </div>



{% endblock %}