{% extends 'base.html.twig' %}

{% block title %}Ajout d'un dresseur{% endblock %}

{% block body %}

    <h3>Merci de créer un dresseur pour pour capturer des pokémons.</h3>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_end(form) }}



{% endblock %}
