<div class="centered item bg-orange">
    <h2>Deal du jour</h2>
    {% if everyoneTrades %}
        {% for trade in everyoneTrades %}
            <div class="bg-divers border-red br-10 p-5 m-5">
                <h4>{{ trade.capturedPokemonSeller.dresseur.name }} propose un deal : </h4>
                <div class="section">
                    <div class="m-5">
                        <h5>Pokémon échangé :</h5>
                        <img style="min-width: 200px"
                             src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ trade.capturedPokemonSeller.pokemon.pokedexId }}.png"
                             alt="{{ trade.capturedPokemonSeller }}">
                        <p>{{ trade.capturedPokemonSeller }}</p>
                    </div>
                    <div class="m-5">
                        <h5>Pokémon recherché :</h5>
                        <img style="min-width: 200px"
                             src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ trade.pokemon.pokedexId }}.png"
                             alt="{{ trade.pokemon }}">
                        <p>{{ trade.pokemon }}</p>
                    </div>
                </div>
                <div>
                    <h3><a href="{{ path('app_trading_finalise', {id : trade.id}) }}">J'échange !</a></h3>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <h2>Pas de deal vous concernant
                <br>
                Aujourd'hui
                <br>
                :(
            </h2>
        </div>
    {% endif %}
</div>