{% block title %}
    <nav class="container nav_deco">
        <div>
            <img id="logo" src="{{ '/img/bg.webp' }}" alt="logo">
        </div>
        <div class="container">
            <img id="icon" src="{{ '/img/logo.webp' }}" alt="" width="30" height="30">
            <a class="nav_link med" href="{{ path('app_main_accueil') }}">Accueil</a>
            <img id="icon" src="{{ '/img/logo.webp' }}" alt="" width="30" height="30">
            <a class="nav_link med" href="{{ path('app_pokemons') }}">Listes des dresseurs</a>
            <img id="icon" src="{{ '/img/logo.webp' }}" alt="" width="30" height="30">
            <a class="nav_link med" href="{{ path('app_pokemonDb') }}">Liste complète des pokémons</a>

            {% if not is_granted('IS_AUTHENTICATED') %}
                <img id="icon" src="{{ '/img/logo.webp' }}" alt="" width="30" height="30">
                <a class="nav_link med" href="{{ path('app_login') }}">Connexion</a>
                <img id="icon" src="{{ '/img/logo.webp' }}" alt="" width="30" height="30">
                <a class="nav_link med" href="{{ path('app_register') }}">Inscription</a>
            {% else %}
                <img id="icon" src="{{ '/img/logo.webp' }}" alt="" width="30" height="30">
                <a class="nav_link med" href="{{ path('app_logout') }}">Déconnexion</a>
            {% endif %}

        </div>
    </nav>
{% endblock %}
