{% extends 'base.html.twig' %}

{% block title %}Échange one to one{% endblock %}

{% block body %}

    <h1 class="centered">Bienvenue, {{ user.name }}</h1>
    <div class="centered">
        <h1>Vous voici dans votre gestionnaire d'échange.</h1>
        <p>Ici, vous avez la possibilité de créer des demandes d'échange de pokémon. Votre demande peut être à
            destination d'un dresseur particulier ou à l'attention de la totalité des dresseurs.</p>
        <p>Pour faire une demande à l'attention d'un dresseur en particulier, remplissez pas le champ 'Pokémon des
            autres dresseurs"</p>
        <p>Pour faire une demande à l'attention de tout les dresseurs, ne remplissez pas le champ 'Pokémon des autres
            dresseurs"</p>
    </div>

    <div class="centered">
        {{ form_start(tradingForm, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(tradingForm) }}
        {{ form_widget(tradingForm) }}
        {{ form_end(tradingForm) }}
    </div>
    <div class="separator"></div>
    <div class="separator"></div>
    <div class="separator"></div>

{% endblock %}