{% extends 'base.html.twig' %}

{% block title %}Échange one to one{% endblock %}

{% block body %}

    <h1 class="centered">Bienvenue, {{ app.user }}</h1>
    <div class="centered">
        <h3>Un dresseur vous a fait une proposition d'échange : </h3>
    </div>
    <div class="centered bg-divers p-5">
        <p>{{ trade.capturedPokemonSeller.dresseur }} souhaite échanger son pokémon
            : {{ trade.capturedPokemonSeller }} contre un pokémon de type: {{ trade.pokemon }}</p>
        {% if trade.capturedPokemonBuyer %}
            <p>Vous possédez un pokémon de ce type, vous l'avez surnommé : "{{ trade.capturedPokemonBuyer.surname }}
                "</p>
        {% else %}
            <p>Vous possédez un pokémon de ce type.</p>
        {% endif %}
        <p>Que souhaitez-vous faire ?</p>
        {{ form_start(finalForm, {'attr': {'novalidate': 'novalidate'}}) }}
        {% if finalForm.capturedPokemonBuyer is defined %}
            <div style="background-color: red;">
                {{ form_label(finalForm.capturedPokemonBuyer) }}
                {{ form_widget(finalForm.capturedPokemonBuyer) }}
                {{ form_errors(finalForm.capturedPokemonBuyer) }}
            </div>
        {% endif %}
        <div style="background-color: green;">{{ form_widget(finalForm.status) }}</div>
        <div style="background-color: blue;">{{ form_widget(finalForm.submit) }}</div>
        {{ form_errors(finalForm) }}
        {{ form_end(finalForm) }}
    </div>

{% endblock %}